<div class="h-100">
    <!-- TODO: Remove -->
    <div class="d-flex flex-column py-5 text-center" [style.fontSize.px]="24">
        <mat-icon
            [inline]="true"
            color="accent"
            [style.fontSize.px]="100"
            class="mx-auto"
        >
            architecture
        </mat-icon>
        <div class="pt-5 w-100">Under construction...</div>
        <div
            [style.fontSize.px]="16"
            class="pt-4 pb-5 border-bottom w-100 text-left"
        >
            <p>
                This page is currently under construction and will be officially
                published on <b>Monday, January 25th, 2021</b>. Any missing
                logic will be implemented until this day and placeholder texts
                will be updated.
            </p>

            <p>
                Also, this text is the reason this page is always scrollable.
                That means that once this section is removed, the page will not
                be unnecessarily scrollable any longer and, if scrolling is
                needed, the application background won't consist of two colors.
            </p>

            <p class="mb-0">
                This message is only available in English and will not be
                localized.
            </p>
        </div>
    </div>

    <ng-container *ngIf="bluetooth.isSupported; else bluetoothNotSupported">
        <ng-container *ngIf="bluetooth.isDeviceConnected; else pleaseConnect">
            <!-- TODO: implement/extract -->
            <h1>{{ 'onboarding.hello' | translate }}</h1>

            <p>Device "{{ bluetooth.deviceName }}" is connected!</p>

            <div class="d-flex flex-column">
                <div class="mt-3 mx-auto font-weight-bold">
                    Values are ...
                    <div
                        *ngFor="
                            let c of bluetooth.characteristics | sortByValue
                        "
                    >
                        {{ c.translationKey }}: {{ c.value }}
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>

<ng-template #bluetoothNotSupported>
    <app-bluetooth-not-supported></app-bluetooth-not-supported>
</ng-template>

<ng-template #pleaseConnect>
    <!-- TODO: implement -->
    <p>Please connect a Bluetooth device</p>
    {{ bluetooth.state }}
</ng-template>
