<h2 mat-dialog-title>{{ 'dialog.languageSelection' | translate }}</h2>
<mat-dialog-content>
    <div class="d-flex flex-wrap">
        <div class="mx-auto" *ngFor="let language of i18n.supportedLanguages">
            <button
                mat-stroked-button
                [class.current-selection]="language === i18n.currentLanguage"
                class="language-button m-2"
                [matDialogClose]="language"
            >
                <img [src]="language.flagPath" alt="Flag: {{ language.id }}" />
                <br />
                <span class="button-text">
                    {{ language.name }}
                </span>
            </button>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="primary">
        {{ 'dialog.close' | translate }}
    </button>
</mat-dialog-actions>
