<mat-toolbar
    [class.mat-elevation-z3]="isScrolled"
    class="d-flex justify-content-end px-sm-3 px-2"
    color="primary"
>
    <div
        class="device-name my-auto mr-1"
        appEllipsisTooltip
        *ngIf="bluetooth.isDeviceConnected"
    >
        {{ bluetooth.deviceName }}
    </div>

    <div class="app-header-icon-buttons d-flex">
        <ng-container *ngIf="bluetooth.currentBluetoothState as state">
            <button
                mat-icon-button
                class="mx-1 mx-sm-2 my-2"
                [disabled]="!bluetooth.isSupported || bluetooth.isConnecting"
                (click)="bluetooth.onBluetoothPressed()"
                [matTooltip]="'bluetooth.' + state | translate"
            >
                <mat-icon> {{ state }} </mat-icon>
            </button>
        </ng-container>
        <button
            mat-icon-button
            class="mx-1 mx-sm-2 my-2"
            (click)="onLanguagesClicked()"
            [matTooltip]="'general.changeLanguage' | translate"
        >
            <mat-icon> language </mat-icon>
        </button>
        <button
            mat-icon-button
            class="mx-1 mx-sm-2 my-2"
            (click)="theming.toggleLightDarkMode()"
            [matTooltip]="
                (theming.isDarkTheme
                    ? 'general.switchToLight'
                    : 'general.switchToDark'
                ) | translate
            "
        >
            <mat-icon>
                {{ theming.isDarkTheme ? 'light_mode' : 'dark_mode' }}
            </mat-icon>
        </button>
        <button
            mat-icon-button
            class="mx-1 mx-sm-2 my-2"
            (click)="onInfoClicked()"
            [matTooltip]="'general.showInfos' | translate"
        >
            <mat-icon> info_outline </mat-icon>
        </button>
    </div>
</mat-toolbar>
