<!-- TODO: add on click logic -->

<mat-toolbar
    [class.mat-elevation-z3]="isScrolled"
    class="d-flex justify-content-end px-sm-3 px-2"
    color="primary"
>
    <div
        class="device-name my-auto"
        appEllipsisTooltip
        *ngIf="bluetooth.isDeviceConnected"
    >
        {{ bluetooth.deviceName }}
    </div>

    <div class="app-header-icon-buttons d-flex">
        <button
            mat-icon-button
            class="mx-1 mx-sm-2 my-2"
            [disabled]="!bluetooth.isSupported || bluetooth.isConnecting"
            (click)="bluetooth.onBluetoothPressed()"
        >
            <mat-icon>
                {{ bluetooth.currentIcon }}
            </mat-icon>
        </button>
        <button
            mat-icon-button
            class="mx-1 mx-sm-2 my-2"
            (click)="onLanguagesClicked()"
        >
            <mat-icon> language </mat-icon>
        </button>
        <button
            mat-icon-button
            class="mx-1 mx-sm-2 my-2"
            (click)="theming.toggleLightDarkMode()"
        >
            <mat-icon>
                {{ theming.isDarkTheme ? 'light_mode' : 'dark_mode' }}
            </mat-icon>
        </button>
        <button mat-icon-button class="mx-1 mx-sm-2 my-2">
            <mat-icon> info_outline </mat-icon>
        </button>
    </div>
</mat-toolbar>
