<div class="d-flex flex-column text-center">
    <button
        mat-icon-button
        class="mx-auto"
        id="prominent-bluetooth-button"
        [disabled]="bluetooth.isConnecting || bluetooth.isDeviceConnected"
        (click)="bluetooth.onBluetoothPressed()"
    >
        <mat-icon [inline]="true">
            {{ bluetooth.currentBluetoothState }}
        </mat-icon>
    </button>
    <div class="mt-3">
        <div *ngIf="bluetooth.errorState; else state" class="color-warn">
            <h2 class="mb-0">
                {{ bluetooth.errorState | translate }}
            </h2>
        </div>
        <div
            class="color-warn"
            [@heightTransition]="bluetooth.errorState ? 'open' : 'closed'"
        >
            {{ 'bluetooth.errorState.tryAgain' | translate }}
        </div>
    </div>
    <mat-divider class="position-relative my-3"></mat-divider>

    <p class="get-sketch">
        {{ 'bluetooth.misc.dontHaveSketchYet' | translate }}
    </p>

    <form [action]="zipPath">
        <button type="submit" class="mx-auto" mat-stroked-button>
            <mat-icon>download</mat-icon>
            {{ 'bluetooth.misc.getItHere' | translate }}
        </button>
    </form>

    <div id="clone-box" class="p-3 mt-3 text-left mx-auto d-flex flex-column">
        <fa-icon [icon]="githubIcon" class="mx-auto"></fa-icon>
        <div class="d-flex py-2">
            <div class="my-auto mr-2 flex-grow-1 font-weight-bold">
                {{ 'bluetooth.misc.orCloneDirectly' | translate }}:
            </div>
        </div>

        <div class="command-container d-flex">
            <div class="d-flex command-wrapper">
                <div class="my-auto">
                    <pre class="text-center m-0 h-100 px-2">{{
                        cloneCommand
                    }}</pre>
                </div>
            </div>
            <div class="copy-command d-flex">
                <button
                    mat-icon-button
                    [appCopyToClipboard]="cloneCommand"
                    class="my-auto mx-2"
                    color="primary"
                >
                    <mat-icon>content_copy</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #state>
    <h2 class="mb-0">
        {{ bluetooth.connectionState | translate }}
    </h2>
</ng-template>
