<div class="color-warn d-flex mb-3">
  <div class="flex-grow-1 d-flex">
    <h2 mat-dialog-title class="my-auto">
      {{ 'bluetooth.confirmDisconnection.title' | translate }}
    </h2>
  </div>
    <div class="flex-grow-0 d-flex ml-1">
        <mat-icon class="my-auto"> bluetooth_disabled </mat-icon>
    </div>
</div>

<mat-dialog-content>
    {{
        (deviceName
            ? 'bluetooth.confirmDisconnection.confirm'
            : 'bluetooth.confirmDisconnection.confirmDefault'
        ) | translate: { device: deviceName }
    }}
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button class="no-button" [mat-dialog-close]="false">
        {{ 'general.no' | translate }}
    </button>
    <button mat-button color="warn" [mat-dialog-close]="true">
        {{ 'general.yes' | translate }}
    </button>
</mat-dialog-actions>
