<div class="m-auto d-flex flex-column bluetooth-not-supported">
    <mat-icon class="mx-auto mb-2"> bluetooth_disabled </mat-icon>
    <h1 class="mx-auto mb-0">
        {{ 'bluetooth.stateShort.bluetooth_disabled' | translate }}
    </h1>
    <mat-divider class="position-relative my-3"></mat-divider>
    <p>
        {{ 'bluetooth.stateExplanation.notSupported.browserInfo' | translate }}
    </p>
    <p>
        {{ 'bluetooth.stateExplanation.notSupported.deviceInfo' | translate }}
    </p>

    <a class="mx-auto" appNewPageLink="https://www.google.com/chrome/">
        {{ 'bluetooth.misc.getChrome' | translate }}
    </a>
</div>
