.app-container {
    transition: 0.3s;

    header {
        top: 0;
    }

    main {
        padding-top: 64px;
        max-width: 1200px;
        transition: 0.3s padding-left, padding-top, padding-right, padding-bottom;

        @media (min-width: 576px) {
            padding-top: 72px;
        }
    }
}
