.app-container {
    header {
        top: 0;
    }

    main {
        padding-top: 64px;
        transition: 0.3s;

        .content-wrapper {
            max-width: 800px;
        }

        @media (min-width: 576px) {
            padding-top: 72px;
        }
    }
}
