<div class="d-flex">
    <title mat-dialog-title class="mx-auto">
        {{
            (isLanguagesDisplayed
                ? 'dialog.languageSelection'
                : slides[activeIndex].title
            ) | translate
        }}
    </title>
</div>

<mat-dialog-content #content>
    <swiper
        [slidesPerView]="1"
        (activeIndexChange)="onIndexChanged($event.activeIndex)"
        [index]="activeIndex"
        [autoHeight]="true"
        [@heightTransition]="isLanguagesDisplayed ? 'closed' : 'open'"
        (afterInit)="triggerResize(0, 300, 300, 300)"
    >
        <ng-template swiperSlide *ngFor="let slide of slides">
            <app-info-slide-content [slide]="slide"></app-info-slide-content>
        </ng-template>
    </swiper>
    <div [@heightTransition]="isLanguagesDisplayed ? 'open' : 'closed'">
        <app-language-selection
            (languageSelected)="onLanguageSelected($event)"
        ></app-language-selection>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="d-flex">
    <div
        class="d-flex flex-grow-0 justify-content-between slides-paginator my-1"
        [style.width.px]="(slides.length * 2 - 1) * 8"
    >
        <a
            *ngFor="let _ of slides; let i = index"
            (click)="onPaginationClicked(i)"
            [class.active]="!isLanguagesDisplayed && i === activeIndex"
            [class.clickable]="
                !isLanguagesDisplayed &&
                (!isOnboarding || i <= highestClickedIndex)
            "
            [matTooltip]="
                !isLanguagesDisplayed &&
                (!isOnboarding || i <= highestClickedIndex)
                    ? (slides[i].title | translate)
                    : undefined
            "
        ></a>
    </div>
    <span class="mr-1 mr-sm-2"><!-- Spacing --></span>
    <button
        *ngIf="isOnboarding"
        mat-icon-button
        class="languages-button"
        (click)="isLanguagesDisplayed = !isLanguagesDisplayed"
        [matTooltip]="
            (isLanguagesDisplayed ? 'general.close' : 'general.changeLanguage')
                | translate
        "
    >
        <mat-icon> language </mat-icon>
    </button>
    <button
        mat-button
        color="primary"
        class="ml-auto"
        *ngIf="activeIndex < slides.length - 1; else closeButton"
        (click)="activeIndex = activeIndex + 1"
        [disabled]="isLanguagesDisplayed"
    >
        {{ 'dialog.next' | translate }}
    </button>
</mat-dialog-actions>

<ng-template #closeButton>
    <button
        mat-button
        mat-dialog-close
        class="ml-auto"
        color="primary"
        [disabled]="isLanguagesDisplayed"
    >
        {{ 'general.close' | translate }}
    </button>
</ng-template>
