@import 'src/styles/variables';

.languages-container {
    margin: 0 -8px;

    .language-button {
        padding: 16.67px 8px 8px;
        width: 104px;
        border-width: 2px;

        &.current-selection {
            border-color: mat-color($app-primary);
            .button-text {
                color: mat-color($app-primary);
            }
        }

        img {
            border-radius: 50%;
            height: 36px;
            width: 36px;
        }
    }
}
