@import 'variables';

.slide-content {
    margin-bottom: -16px;
    width: fit-content;

    .content-row {
        margin: 0 -4px;

        &,
        * {
            transition: 0.3s;
        }

        img {
            max-width: 100%;
            max-height: 60vh;
            min-width: 20vh;
        }

        fa-icon {
            font-size: 48px;
            color: $middle-color-grey;
        }

        a {
            color: mat-color($app-primary);
            cursor: pointer;
        }

        @media (min-width: 576px) {
            margin: 0 -8px;
            fa-icon {
                font-size: 72px;
            }
        }
    }
}
