<div class="slide-content d-flex flex-column mx-auto">
    <div
        *ngFor="let content of slide.content"
        class="row content-row mr-auto"
        [class.w-100]="content.fullWidthRow"
        [class.ml-auto]="!slide.alignLeft"
    >
        <ng-container
            [ngTemplateOutlet]="switchContainer"
            [ngTemplateOutletContext]="{ content: content }"
        ></ng-container>
    </div>
</div>

<ng-template #switchContainer let-content="content" let-isNested="isNested">
    <ng-container [ngSwitch]="content.type">
        <ng-container
            *ngSwitchCase="'text'"
            [ngTemplateOutlet]="textContainer"
            [ngTemplateOutletContext]="{ text: content }"
        ></ng-container>
        <ng-container
            *ngSwitchCase="'icon'"
            [ngTemplateOutlet]="iconContainer"
            [ngTemplateOutletContext]="{ icon: content }"
        ></ng-container>
        <ng-container
            *ngSwitchCase="'img'"
            [ngTemplateOutlet]="imgContainer"
            [ngTemplateOutletContext]="{ img: content, isNested: isNested }"
        ></ng-container>
        <ng-container
            *ngSwitchCase="'link'"
            [ngTemplateOutlet]="linkContainer"
            [ngTemplateOutletContext]="{ link: content }"
        ></ng-container>
        <ng-container
            *ngSwitchCase="'listed'"
            [ngTemplateOutlet]="listContainer"
            [ngTemplateOutletContext]="{ list: content }"
        ></ng-container>
        <ng-container
            *ngSwitchCase="'mat-icon'"
            [ngTemplateOutlet]="matIconContainer"
            [ngTemplateOutletContext]="{ icon: content }"
        ></ng-container>
        <ng-container
            *ngSwitchCase="'nested'"
            [ngTemplateOutlet]="nestedContainer"
            [ngTemplateOutletContext]="{ nested: content }"
        ></ng-container>
        <ng-container *ngSwitchDefault></ng-container>
    </ng-container>
</ng-template>

<ng-template #textContainer let-text="text">
    <div class="col px-1 px-sm-2 d-flex flex-column m-auto">
        <p *ngFor="let key of text.text" class="mb-3">
            {{ key | translate }}
        </p>
    </div>
</ng-template>

<ng-template #iconContainer let-icon="icon">
    <div class="col-auto px-1 px-sm-2 mb-3 mx-auto d-flex">
        <div class="m-auto">
            <fa-icon [icon]="icon.icon"></fa-icon>
        </div>
    </div>
</ng-template>

<ng-template #imgContainer let-img="img" let-isNested="isNested">
    <div
        class="px-1 px-sm-2 mb-3 d-flex"
        [ngClass]="isNested ? 'col' : 'col-auto'"
    >
        <div class="m-auto" [style.maxWidth.px]="img.maxWidth">
            <img [src]="img.src" [alt]="img.alt | translate" />
        </div>
    </div>
</ng-template>

<ng-template #linkContainer let-link="link">
    <div class="col px-1 px-sm-2 mb-3 mx-auto d-flex">
        <div class="m-auto">
            <a [appNewPageLink]="link.linkRef">
                {{ link.text | translate }}
            </a>
        </div>
    </div>
</ng-template>

<ng-template #listContainer let-listItem="list">
    <div class="col px-1 px-sm-2 mb-3 mx-auto d-flex">
        <div class="m-auto">
            <ul>
                <li *ngFor="let li of listItem.listedElements">
                    {{ li | translate }}
                </li>
            </ul>
        </div>
    </div>
</ng-template>

<ng-template #matIconContainer let-icon="icon">
    <div class="col-auto px-1 px-sm-2 mb-3 mx-auto d-flex">
        <div class="m-auto">
            <mat-icon color="primary">{{ icon.icon }}</mat-icon>
        </div>
    </div>
</ng-template>

<ng-template #nestedContainer let-nested="nested">
    <ng-container
        *ngFor="let content of nested.nested"
        [ngTemplateOutlet]="switchContainer"
        [ngTemplateOutletContext]="{ content: content, isNested: true }"
    ></ng-container>
</ng-template>
