@import 'theme.scss';
@import 'variables';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.backdrop-blur {
    background: rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(5px) !important;
}
