@import 'theme.scss';
@import 'variables';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.background-warn {
    background-color: mat-color($app-warn) !important;
    color: mat-color($app-warn, default-contrast) !important;
}

.backdrop-blur {
    background: rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(5px) !important;
}

.mat-list-text {
    padding-right: 0 !important;
}
