<div mat-dialog-title class="background-warn">
    <div class="title-content text-center d-flex flex-column">
        <div class="error-icon-wrapper">
            <mat-icon [inline]="true"> error_outline </mat-icon>
        </div>
        {{ 'dialog.error.oops' | translate }}
    </div>
</div>

<mat-dialog-content>
    <p>{{ 'dialog.error.occurred' | translate }}:</p>
    <pre class="error-message">{{ errorMessage }}</pre>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="warn">
        {{ 'dialog.close' | translate }}
    </button>
</mat-dialog-actions>
