div[mat-dialog-title] {
    width: calc(100% + 48px);
    margin: -24px -24px 20px;

    .title-content {
        padding: 24px;

        .error-icon-wrapper {
            height: 64px;

            mat-icon {
                font-size: 64px;
                display: inline-flex !important;
                align-items: center !important;
            }
        }
    }
}

.error-message {
    font-family: monospace;
    color: #757575;
    margin-bottom: 0;
}
